<div class="container alert bg-signature mt-3" role="alert">
    <h4 class="alert-heading para">Make a review</h4>
    <div class="para">Write us of your experience with this booking that took place in <strong class="">{{booking.location}}</strong> on  <strong class=""> {{booking.when | date:'fullDate'}}</strong></div>
    <div class="para">You can also upload a photo of yourself and Susan so we can share it here in our website! <i class="fa fa-smile-o"></i> </div>
    <hr>
    <div class="container mt-3">

      <div class="row justify-content-center">
        <div class="col-md-8 mb-3" *ngIf="uploader?.queue?.length == 0">
            <h4 class="para">Select Image</h4>
            <input class="para" type="file" ng2FileSelect [uploader]="uploader"/>
        </div>
      </div>

      <div class="row justify-content-center" *ngIf="uploader?.queue?.length == 1">
        <div class="col-md-8 mb-3">
          <h3 class="para">Upload</h3>
          <table class="table">
              <thead>
              <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.options.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </td>
                  <td nowrap>
                      <button type="button" class="btn btn-danger btn-xs"
                              (click)="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>
        </div>
        <br>
      </div>

      <form class="" [formGroup]="reviewForm">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 col-sm-12">

                <div class="form-group">
                  <textarea type="text" [ngClass]="{'is-invalid': reviewForm.get('description').errors && reviewForm.get('description').touched}"
                  class="form-control" formControlName="description" placeholder="Tell us of your experience" rows="5"></textarea>

                  <div class="invalid-feedback" 
                    *ngIf="reviewForm.get('description').hasError('required') && reviewForm.get('description').touched">
                    Description is required
                  </div>

                  <div class="invalid-feedback" 
                    *ngIf="reviewForm.get('description').hasError('minlength') && reviewForm.get('description').touched">
                      Description must be atleast 4 characters long
                  </div>

                  <div class="invalid-feedback" 
                    *ngIf="reviewForm.get('description').hasError('maxlength') && reviewForm.get('description').touched">
                      Description is not to exceed 200 characters
                  </div>

                </div>
          </div>
        </div>
      </form>


      <div class="row justify-content-center">
        <pre class="para" style="margin:10px 0;"><h5>Your rating of: <div class="blink-rating"> {{rating}}/5 </div></h5></pre>
      </div>

      <div class="row justify-content-center rating-signature">
        <rating [max]="5" [(ngModel)]="rating" [customTemplate]="tt"></rating>
        <ng-template #tt let-i="index" let-v="value">
          <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
            {{i < v ? '&#9733;' : '&#9734;'}}
          </button>
        </ng-template>
      </div>

      <div class="row justify-content-center m-3">

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-success btn-s" (click)="confimRatingToUser(template, template2)" [disabled]="!reviewForm.valid">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>

          <button type="button" class="btn btn-info btn-s" (click)="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
        </div>
      </div>

      <div class="row justify-content-center" *ngIf="this.uploader.isUploading">
        <div class="col-md-8">
            Progress:
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <ng-template #template>
    <div class="modal-body">
      <div class="text-center">
        <h5>Review upload was successful!</h5>
      </div>

        <div class="mt-3">
          <i class=""></i>Thank you for submitting a review, we appreciate your time.
        </div>

        <div class="mt-3">
          <button type="button" class="btn btn-outline-success btn-circle" (click)="backToBookings()">View Bookings</button>
        </div>

      </div>
  </ng-template>


  <ng-template #template2>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Rating</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="rating > 1"> You have a rating of {{rating}} stars. Do you want to proceed?</div>
      <div *ngIf="rating <= 1"> You have a rating of {{rating}} star. Do you want to proceed?</div>
      <div class="d-flex justify-content-center">
        <div class="mt-2 btn-group">
          <button type="button" class="btn btn-primary" (click)="uploadSectionAfterModal(template)">Yes</button>
          <button type="button" class="btn btn-danger" (click)="modalRef2.hide()">No</button>
        </div>
      </div>
    </div>
  </ng-template>