/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/yeti/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.bg-signature {
  background: linear-gradient(50deg, #10af32 0%, #10a553 40%);
}

.bg-greencrate {
  background: linear-gradient(50deg, #000000 0%, #024621 80%);
}

.cal-event-title {
  text-transform: capitalize;
}

@media only screen and (max-width: 1026px) {
  .cal-month-view .cal-header .cal-cell {
    font-size: 1.8vw;
  }
  .cal-week-view .cal-day-headers .cal-header {
    font-size: 1.8vw;
  }
}