<div>
    <!-- Header -->
    <div id="fade">
      <section id="header" *ngIf="!loggedIn()">
        <div class="header container">
          <div class="nav-bar">
            <div class="brand">
              <a (click)="scrollToElement(home)">
                <h1>
                  <span>GREEN CRATE AUDIO</span>
                </h1>
              </a>
            </div>
            <div class="nav-list">
              <div class="hamburger"><div class="bar"></div></div>
              <ul>
                <li><a (click)="scrollToElement(home)">Home</a></li>
                <li><a (click)="scrollToElement(services)">Services</a></li>
                <li><a (click)="scrollToElement(testimonials)">Reviews</a></li>
                <li><a (click)="scrollToElement(about)">About</a></li>
                <li><a (click)="scrollToElement(contact)">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--End Header -->

    <div id="show" class="mobile">
      <nav id="header" class="navbar navbar-expand-lg navbar-dark header" style="background-color: rgba(31, 30, 30, 0.212);">
        <a class="navbar-brand" href="#">
          <div class="brand">
            <a (click)="scrollToElement(home)">
              <h1>
                <span>GREEN </span>
                <span>CRATE </span>
                <span>AUDIO </span>
              </h1>
            </a>
          </div>
        </a>
        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse"
              [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-styled" (click)="scrollToElement(login)">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-styled" (click)="scrollToElement(services)">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-styled" (click)="scrollToElement(testimonials)">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-styled" (click)="scrollToElement(about)">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-styled" (click)="scrollToElement(contact)">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    <!-- Hero Section  -->
    <section #home id="hero">
      <div class="hero container">
        <div>
          <h1 class="">GREEN<span></span></h1>
          <h1 class="">CRATE<span></span></h1>
          <h1 class=""> AUDIO<span></span></h1>
          <a (click)="scrollToElement(testimonials)" type="button" class="cta">Reviews</a>
          <a *ngIf="!loggedIn()" (click)="scrollToElement(login)" type="button" class="cta">Log in</a>
          <a *ngIf="!loggedIn()" (click)="scrollToElement(register)" (click)="registerToggle()" type="button" class="cta">Sign Up</a>
          <a (click)="scrollToElement(faqs)" type="button" class="cta">FAQS</a>
        </div>
      </div>
    </section>
    <!-- End Hero Section  -->
  
    
    <!-- Log In Section -->
  
    <section #login id="login">
      <div *ngIf="!loggedIn()" class="login container">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <form class="" [formGroup]="loginForm" (ngSubmit)="loginClick()">
                <div class="">
                  <h1>Log in</h1>
                  <div class="">
    
                        <div class="form-group">
                          <input type="text" [ngClass]="{'is-invalid': loginForm.get('userName').errors && loginForm.get('userName').touched}"
                          class="form-control" formControlName="userName" placeholder="Username">
                          <div class="invalid-feedback">Username is required</div>
                        </div>
            
                        <div class="form-group">
                          <input type="password" [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}"
                          class="form-control" formControlName="password" placeholder="Password">
                          <div class="invalid-feedback">Password is required</div>
                        </div>
            
                        <div class="form-group text-center">
                          <div class="btn-group" role="group">
                            <button class="btn btn-success" type="submit" value="submit" id="submit" [disabled]="!loginForm.valid">Log in</button>
                            <button class="btn btn-secondary" (click)="scrollToElement(home)" (click)="cancelLogin()">Cancel</button>
                          </div>
                        </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
    </section>
    <!-- End of Log In Section-->
  
  
    <!-- Register Section -->
    <section #register id="login">
      <div *ngIf="registerMode" class="hero">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <app-register (cancelRegister)="cancelRegisterMode($event)" (backToHome)="scrollToElement(home)"></app-register>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
    <!-- Service Section -->
    <section #services id="services">
      <div class="services container">
        <div class="service-top">
          <h1 class="section-title">Services</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum deleniti maiores pariatur assumenda quas magni et, doloribus quod voluptate quasi molestiae magnam officiis dolorum, dolor provident atque molestias voluptatum explicabo!</p>
        </div>
        <div class="service-bottom">
          <div class="service-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
            <h2>Weddings</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed architecto placeat beatae tenetur officia quod</p>
          </div>
          <div class="service-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
            <h2>Birthdays</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed architecto placeat beatae tenetur officia quod</p>
          </div>
          <div class="service-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
            <h2>Live Shows</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed architecto placeat beatae tenetur officia quod</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Service Section -->
  

    
    <!-- Reviews Section -->
    <section #testimonials id="projects">
      <div class="hero-project">
        <div class="projects">
          <div class="projects-header mt-4">
            <div class="d-flex justify-content-center">
              <h1 class="cta-project section-title text-center">Reviews</h1>
            </div>
          </div>

          <div class="container mt-3">
            <div class="row">
              <div *ngFor="let review of reviews" class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <app-review-list-card [review]="review"></app-review-list-card>
              </div>
            </div>
          </div>

          <br>

          <div class="d-flex justify-content-center mt-4">
            <a [routerLink]="['/reviews']" class="cta-project">See more reviews</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Projects/Reviews Section -->
  
    <!-- About Section -->
    <section #about id="about">
      <div class="about container">
        <div class="col-left">
          <div class="about-img">
            <img src="../../assets/mike.jpeg" alt="img">
          </div>
        </div>
        <div class="col-right">
          <h1 class="section-title"><span>Audio Engineer</span></h1>
          <h2>Mike Cruz</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores,
             velit alias eius non illum beatae atque repellat ratione qui veritatis 
             repudiandae adipisci maiores. At inventore necessitatibus deserunt exercitationem 
             cumque earum omnis ipsum rem accusantium quis, quas quia, accusamus provident suscipit magni! 
             Expedita sint ad dolore, commodi labore nihil velit earum ducimus nulla quae nostrum fugit aut, 
             deserunt reprehenderit libero enim!</p>
        </div>
      </div>
      <!-- Something similar to contact section -->
    </section>
    <!-- End About Section -->

        <!-- FAQs Section -->
        <section #faqs id="faqs">
          <div class="faqcontainer">
            <div><h1 class="section-title">Frequently Asked <span>Questions</span></h1></div>
            <br>
            <br>
            <accordion class="" [isAnimated]="true" [closeOthers]="oneAtATime">
              <accordion-group class="button" heading="How much does a booking cost?">
                <div class="font-weight-light">A booking fee is from $65 per hour depending on your location.</div>
              </accordion-group>
              <accordion-group heading="How many bookings do I need?">
                <div class="font-weight-light">For zero knowledge, 3-5 lessons is enough depending on the learning skill and experience of each individual. After your first lesson, your driving instructor will let you know how many more lessons you will need.</div>
              </accordion-group>
              <accordion-group heading="What license do I need to have in order to book a birthday party?">
                <div class="font-weight-light">You will need to have any of the following: a NZ Learners Licence, Restricted Licence or Overseas Licence. </div>
              </accordion-group>
              <accordion-group heading="How long is each booking?">
                <div class="font-weight-light">Each lesson varies from 1-2 hours.</div>
              </accordion-group>
              <accordion-group heading="I don’t have a car. Can I still take driving lessons?">
                <div class="font-weight-light">Yes, you can. All of our instruction vehicles are fitted with dual controls for safety.</div>
              </accordion-group>
              <accordion-group heading="Can I use my own audio gear during a booking?">
                <div class="font-weight-light">Yes, depending on your driving experience. </div>
              </accordion-group>
            </accordion>
          </div>
        </section>
        <!-- End of FAQs Section-->
  
    <!-- Contact Section -->
    <section #contact id="contact">
      <div class="contact container">
        <div><h1 class="section-title">Contact <span>info</span></h1></div>
        <div class="contact-items">
          <div class="contact-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
            <div class="contact-info">
              <h1>Phone</h1>
              <h2>+1 234 123 1234</h2>
              <h2>+1 234 123 1234</h2>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
            <div class="contact-info">
              <h1>Email</h1>
              <h2>greencrateaudio@gmail.com</h2>
              <h2>greencrateaudio@yahoo.com</h2>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
            <div class="contact-info">
              <h1>Address</h1>
              <h2>Mount Albert, New Zealand</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  
    <!-- Footer -->
    <section id="footer">
      <div class="footer container">
        <div class="brand"><h1><span>GREEN CRATE AUDIO</span></h1></div>
        <h2>Your Complete Audio Solution</h2>
        <div class="social-icon">
          <div class="social-item">
            <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
          </div>
          <div class="social-item">
            <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
          </div>
          <div class="social-item">
            <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"/></a>
          </div>
        </div>
        <p>Copyright © 2021 GREEN CRATE AUDIO. All rights reserved</p>
      </div>
    </section>
</div>