<div class="card mb-3 h-95 font-weight-light text-dark" style="width: 21p;">
  <img *ngIf="review.url" src="{{review.url}}" class="card-img-top" alt="...">
  <img *ngIf="review.url == null" src="../../../../../assets/happy.png" class="card-img-top" alt="...">
  <div class="card-body p-3">

    <div class="d-flex justify-content-center">
      <rating [max]="5" [(ngModel)]="review.rating" [customTemplate]="tt" [readonly]=true></rating>
      <ng-template #tt let-i="index" let-v="value">
        <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
          {{i < v ? '&#9733;' : '&#9734;'}}
        </button>
      </ng-template>
    </div>

    <div class="container">
      <i class="fa fa-quote-left mt-3 text-secondary"></i>
      <pre class="pre m-2"> {{review.description}} </pre>
      <div class="d-flex justify-content-end">
        <i class="fa fa-quote-right text-secondary"></i>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <span class="card-title text-capitalize">- {{review.user.fullName}}</span>
      <span class="card-title">, {{review.dateAdded | date}}</span>
    </div>

  </div>
</div>