.card {
    border:none;
    color: rgb(27, 27, 27);
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.card-body {
    overflow-y: scroll;
    height: 575px;
}

.bg-custom {
    background-color: rgb(250, 236, 236);
}