<div class="container alert bg-signature mt-3" *appHasRole="['Admin']">
  <h4 class="alert-heading">Review System</h4>
  <div>You can view the reviews and <strong>approve</strong> them using this page.</div>
  <div> <strong class="bg-secondary">NOTE</strong> Only <strong>approved</strong> reviews are shown in the website.</div>
  <hr>

  <div class="container mt-3">
    <div class="row">
      <div *ngFor="let review of reviews" class="col-xl-4 col-lg-6 col-md-8 col-sm-12">

        <div class="card mb-3 h-95 font-weight-light text-dark" style="width: 21p;">
          <img *ngIf="review.url" src="{{review.url}}" class="card-img-top" alt="...">
          <img *ngIf="review.url == null" src="../../../../../assets/happy.png" class="card-img-top" alt="...">
          <div class="card-body p-3">
            <h5 class="card-title text-capitalize">From {{review.user.fullName}}</h5>
            <pre class="pre">{{review.description}}</pre>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex justify-content-center">
                <rating [max]="5" [(ngModel)]="review.rating" [customTemplate]="tt" [readonly]=true></rating>
                <ng-template #tt let-i="index" let-v="value">
                  <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
                    {{i < v ? '&#9733;' : '&#9734;'}}
                  </button>
                </ng-template>
              </div>
            </li>
            <li class="list-group-item">Date: {{review.dateAdded | date}}</li>
            <li class="list-group-item">
              <div *ngIf="!review.isApproved">
                <div>Status: <span class="text-danger">Not Approved</span></div>
              </div>
              <div *ngIf="review.isApproved">
                <div>Status: <span class="text-success">Approved</span></div>
            </div>
            </li>
          </ul>
          <div *ngIf="!review.isApproved" class="card-body">
              <a class="card-link text-primary" (click)="openEditModal(review)">Edit Status</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-4">
  <pagination class="pagination" [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
